  <!-- Page Header -->
  <header class="masthead" style="background-image: url('./assets/images/about-banner.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>A propos</h1>
          </div>
        </div>
      </div>
    </div>
  </header>

  <section id="historique" class="historique mt-5 mb-5">
      <div class="container">
        <div class="row">
          <div class="col mt-5 mb-5">
            <h2>Historique</h2>
          </div>
        </div>
        <div class="row mb-5">
          <div class="col-6 mx-auto">
              <img class="img-fluid" src="./assets/images/MADA.jpg">
          </div>
          <div class="col-6 mt-5">
            <h4>2018-2019</h4>
            <p>Fondation de la nouvelle école : la shekinah</p>
          </div>
        </div>
        <div class="row pb-5 mb-5">
            <div class="col-6 mt-5">
              <h4>2017-2018</h4>
              <p>Création d'une nouvelle classe</p>
            </div>
            <div class="col-6 mx-auto">
                <img class="img-fluid" src="./assets/images/MADA.jpg">
            </div>
        </div>
      </div>
    </section>