<header class="masthead" style="background-image: url('./assets/images/contact-banner.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="page-heading">
          <h1>Nous trouver</h1>
        </div>
      </div>
    </div>
  </div>
</header>

<section id="contact" class="contact pb-5">
    <div class="container">
      <div class="row mb-3">
          <h2>Contactez-nous</h2>
      </div>
      <div class="row mb-5">
        <div class="col-lg-6 col-md-12 text-center">
            <p><i class="fa fa-phone mr-2"></i>
              Par téléphone :
            </p>
            <p>0336124917</p>
        </div>
        <div class="col-lg-6 col-md-12 text-center">
            <p><i class="fa fa-facebook mr-2"></i>
              Par facebook :
            </p>
            <a href="https://www.facebook.com/pg/sdglashekinah/about/?ref=page_internal">La shekinah</a>
        </div>
      </div>
      <div class="row">
        <div class="col mx-auto">
          <agm-map 
          [latitude]="-18.893642"
          [longitude]="47.633593"
          [gestureHandling]="'none'" 
          [zoom]="10" 
          style="height: 500px;">
            <agm-marker [latitude]="-18.893642" [longitude]="47.633593">
              <agm-info-window>
                <p>Làlan'Anjeva, Ambatofotsy, Madagascar</p>
              </agm-info-window>
            </agm-marker>
          </agm-map>
        </div>
      </div>
    </div>
  </section>