 <!-- Page Header -->
 <header class="masthead" style="background-image: url('./assets/images/school-banner.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="page-heading">
          <h1>L'école</h1>
        </div>
      </div>
    </div>
  </div>
</header>

<section id="team" class="team">
  <div class="container">
    <div class="row">
      <div class="col mt-5 mb-5">
        <h2>Les professeurs</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
        <div class="card" style="width: 18rem; height: 100%;">
          <img class="card-img-top" src="./assets/images/team/team-2.jpg">
          <div class="card-body">
            <h5 class="card-title">Patrick</h5>
            <p class="card-text">Patrick est prof de français, bonjour patrick</p>
            </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
          <div class="card" style="width: 18rem; height: 100%;">
            <img class="card-img-top" src="./assets/images/team/team-3.jpg">
            <div class="card-body">
              <h5 class="card-title">Jean</h5>
              <p class="card-text">Jean est prof de sport, bonjour jean</p>
              </div>
          </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
          <div class="card" style="width: 18rem; height: 100%;">
            <img class="card-img-top" src="./assets/images/team/team-1.jpg">
            <div class="card-body">
              <h5 class="card-title">Ursules</h5>
              <p class="card-text">Ursules est prof d'histoire, bonjour Ursules</p>
              </div>
          </div>
      </div>
    </div>
  </div>
</section>